zigbee_node_red.json
[
    {
        "id": "2df1dfd158b253ed",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9355c4bbb1adc9e0",
        "type": "mqtt-broker",
        "name": "zigbee2mqtt",
        "broker": "mqtt://192.168.1.102",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff246c28cc0fa0af",
        "type": "mqtt-broker",
        "name": "mqtt_broker",
        "broker": "mqtt://192.168.1.105",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5504d7e57750a247",
        "type": "mqtt in",
        "z": "2df1dfd158b253ed",
        "name": "sensor_data",
        "topic": "zigbee2mqtt/0x404ccafffe513a60",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9355c4bbb1adc9e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "fe464b47c0eff2b8",
                "7a219abcac0d9d02",
                "02a4f6366f7c317f"
            ]
        ]
    },
    {
        "id": "fe464b47c0eff2b8",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "get_humidity_from_mqtt",
        "func": "msg.payload= msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "de144343b10bcc1d"
            ]
        ]
    },
    {
        "id": "e4a68ecef4f0edcc",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "temp_humidity_vals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "7a219abcac0d9d02",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "get_temp_from_mqtt",
        "func": "msg.payload= msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "3af0fa44188c14b9"
            ]
        ]
    },
    {
        "id": "de144343b10bcc1d",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "set humidity as global variable",
        "func": "global.set(\"humidity\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 320,
        "wires": [
            [
                "e4a68ecef4f0edcc"
            ]
        ]
    },
    {
        "id": "3af0fa44188c14b9",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "set temperature as global variable",
        "func": "global.set(\"temperature\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "e4a68ecef4f0edcc"
            ]
        ]
    },
    {
        "id": "24d19c09ccd96cac",
        "type": "inject",
        "z": "2df1dfd158b253ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1020,
        "wires": [
            [
                "34660c95bc35a27d"
            ]
        ]
    },
    {
        "id": "34660c95bc35a27d",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "Get global variables",
        "func": "flow.set('Temperature', global.get(\"temperature\"));\nflow.set('Humidity', global.get(\"humidity\"));\nflow.set('lux', global.get(\"lux\"));\nflow.set('tempecriticalvl', global.get(\"critical_temperature\"))\nflow.set('humiditycriticalvl', global.get(\"critical_humidity\"))\nflow.set('light_on', global.get(\"light_is_on\"))\nflow.set('light_off', global.get(\"light_is_off\"))\n\n\nmsg.payload = [\n\nflow.get('Temperature'),\nflow.get('Humidity'),\nflow.get('lux'),\nflow.get('tempecriticalvl'),\nflow.get('humiditycriticalvl'),\nflow.get('light_on'),\nflow.get('light_off')\n\n\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1020,
        "wires": [
            [
                "e0289d94ffdc6595"
            ]
        ]
    },
    {
        "id": "e0289d94ffdc6595",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "global variables array",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ef89c69c7929cec3",
        "type": "opcua-compact-server",
        "z": "2df1dfd158b253ed",
        "port": "4840",
        "endpoint": "",
        "productUri": "",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": 10,
        "maxConnectionsPerEndpoint": 10,
        "maxAllowedSubscriptionNumber": 100,
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [],
        "xmlsetsOPCUA": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "opc.tcp://192.168.1.102:4840",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": 1000,
        "maxNodesPerWrite": 1000,
        "maxNodesPerHistoryReadData": 100,
        "maxNodesPerBrowse": 3000,
        "maxBrowseContinuationPoints": 10,
        "maxHistoryContinuationPoints": 10,
        "delayToInit": 1000,
        "delayToClose": 200,
        "serverShutdownTimeout": 100,
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n  // server = the created node-opcua server\n  // addressSpace = address space of the node-opcua server\n  // eventObjects = add event variables here to hold them in memory from this script\n\n  // internal sandbox objects are:\n  // node = the compact server node,\n  // coreServer = core compact server object for debug and access to NodeOPCUA\n  // this.sandboxNodeContext = node context node-red\n  // this.sandboxFlowContext = flow context node-red\n  // this.sandboxGlobalContext = global context node-red\n  // this.sandboxEnv = env variables\n  // timeout and interval functions as expected from nodejs\n\n  \n  const opcua = coreServer.choreCompact.opcua;\n  const LocalizedText = opcua.LocalizedText;\n  const namespace = addressSpace.getOwnNamespace();\n\n  const Variant = opcua.Variant;\n  const DataType = opcua.DataType;\n  const DataValue = opcua.DataValue;\n\n  var flexServerInternals = this;\n\n  \n  const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n  this.sandboxFlowContext.set(\"Humidity\", false);\n  this.sandboxFlowContext.set(\"Temperature\", false);\n  this.sandboxFlowContext.set(\"humiditycriticalvl\", false);\n  this.sandboxFlowContext.set(\"tempecriticalvl\", false);\n\n  this.sandboxFlowContext.set(\"access\", false);\n  this.sandboxFlowContext.set(\"illuminance\", false);\n\n\n  const sensor_Data = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"Sensor_data\"\n  });\n  const access_control = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"access_control\"\n  });\n  const access = namespace.addFolder(access_control, {\n    \"browseName\": \"access_event\"\n  });\n  const temperature = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"temperature\"\n  });\n  const humidity = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"humidity\"\n  });\n  const temperature_float = namespace.addFolder(temperature, {\n    \"browseName\": \"Float_C\"\n  });\n  const humidity_float = namespace.addFolder(humidity, {\n    \"browseName\": \"humidity_%\"\n  });\n  const tempCritical = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"Temp_critical\"\n  });\n  const humidityCritical = namespace.addFolder(sensor_Data, {\n    \"browseName\": \"Humidity_critical\"\n  });\n  const illuminance = namespace.addFolder(sensor_Data, {\n  \"browseName\": \"illuminance\"\n  });\n  const temperature_var = namespace.addVariable({\n    \"organizedBy\": temperature_float,\n    \"browseName\": \"temperature\",\n    \"nodeId\": \"ns=1;s=Temperature_value\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Temperature\")\n        });\n      },\n      \"set\": function (Variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Temperature\",\n          Variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  const humidity_var = namespace.addVariable({\n    \"organizedBy\": humidity_float,\n    \"browseName\": \"Humidity\",\n    \"nodeId\": \"ns=1;s=Humidity_value\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Humidity\")\n        });\n      },\n      \"set\": function (Variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Humidity\",\n          Variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n    const temperatureCritical = namespace.addVariable({\n    \"organizedBy\": tempCritical,\n    \"browseName\": \"Value\",\n    \"nodeId\": \"ns=1;s=Temp_critical_value\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"tempecriticalvl\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"tempecriticalvl\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const humidityCrit = namespace.addVariable({\n    \"organizedBy\": humidityCritical,\n    \"browseName\": \"Value\",\n    \"nodeId\": \"ns=1;s=Humidity_critical_value\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"humiditycriticalvl\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"humiditycriticalvl\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  const accessevent= namespace.addVariable({\n    \"organizedBy\": access_control,\n    \"browseName\": \"Value\",\n    \"nodeId\": \"ns=1;s=accessevent\",\n    \"dataType\": \"Boolean\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Boolean,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"access\")\n        });\n      },\n      \"set\": function (variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"access\",\n          variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\nconst illuminance_var = namespace.addVariable({\n    \"organizedBy\": illuminance,\n    \"browseName\": \"illuminance\",\n    \"nodeId\": \"ns=1;s=illuminance_value\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function () {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"lux\")\n        });\n      },\n      \"set\": function (Variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"lux\",\n          Variant.value\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  done();\n}",
        "x": 540,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e6a1fbafa5a9d894",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "Check Temperature and Humidity",
        "func": "// Define the acceptable range for temperature and humidity\nconst minTemperature = 10; // Minimum temperature\nconst maxTemperature = 20; // Maximum temperature\nconst criticatemp = 20; // critical temperature \nconst minHumidity = 30;    // Minimum humidity\nconst maxHumidity = 40;    // Maximum humidity\nconst critichumidity =50; // critical value for humidity\nconst minlux= 30;\nconst maxlux=500;\n// Get the incoming message payload\nvar temperature = global.get('temperature'); // Get temperature from global context\nvar humidity = global.get('humidity'); // Get humidity from global context\nvar lux= global.get('lux'); // get illuminance value\n\n// set global variables that can be used by opc_server\n\n\n// Initialize payload as a JSON object\nvar  data = {\n    timestamp: Date.now(),\n    temperature: temperature,\n    humidity: humidity,\n    criticalhumidity : false,\n    criticaltemp : false,\n    temperatureEvent: \"\",\n    humidityEvent: \"\",\n    turnlighton: false,\n    turnlightoff: false,\n    turnAC: false // Initialize turn AC variable\n};\n\n\n// Check if temperature is within the acceptable range\nif (temperature < minTemperature) {\n    // Temperature is below the acceptable range\n    data.temperatureEvent = \"Below Min\";\n} else if (temperature > maxTemperature && temperature > criticatemp) {\n    // Temperature is above the acceptable range\n    data.temperatureEvent = \"Above Max\";\n    data.criticaltemp= true;\n}\nelse if (temperature > maxTemperature && temperature < criticatemp) {\n    // Humidity is above the acceptable range\n    data.temperatureEvent = \"Above Max\";\n    data.criticaltemp= false;\n    }\nelse {\n        msg.payload.temperatureEvent = \"No action\"\n    }\n// Check if humidity is within the acceptable range\nif (humidity < minHumidity) {\n    // Humidity is below the acceptable range\n    data.humidityEvent = \"Below Min\";\n} else if (humidity > maxHumidity && humidity > critichumidity) {\n    // Humidity is above the acceptable range\n    data.humidityEvent = \"Above Max\";\n    data.criticalhumidity = true;\n\n    }\nelse if (humidity > maxHumidity && humidity <critichumidity) {\n    // Humidity is above the acceptable range\n    data.humidityEvent = \"Above Max\";\n    data.criticalhumidity = false;\n\n} \n\nelse {\n        data.humidityEvent = \"No action\"\n    }\n\n// Set turn AC variable based on conditions\nif (data.temperatureEvent === \"Above Max\" || data.humidityEvent === \"Above Max\" || data.criticaltemp==true) {\n    data.turnAC = true; // Turn on AC\n} else {\n    data.turnAC = false; // Turn off AC\n}\nif (lux > minlux) {\n    data.turnlighton = true; // Turn on AC\n} else {\n    data.turnlightoff = true; // Turn off AC\n}\n\n\n\n// Return message\nreturn {payload: data};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 660,
        "wires": [
            [
                "3b3b31131b8fdace",
                "5f88eb2715f67f2e",
                "4e4eab1d17ba667b",
                "e858ed400a2da5cc",
                "2bf7a4c1a64f3644",
                "463222ef6cdb8ddb"
            ]
        ]
    },
    {
        "id": "3b3b31131b8fdace",
        "type": "csv",
        "z": "2df1dfd158b253ed",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity,temperatureEvent,humidityEvent,turnAC",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "98043526b951ff73"
            ]
        ]
    },
    {
        "id": "98043526b951ff73",
        "type": "file",
        "z": "2df1dfd158b253ed",
        "d": true,
        "name": "",
        "filename": "C:\\Users\\waelk\\Desktop\\test.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 780,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "874772e5613c7c97",
        "type": "inject",
        "z": "2df1dfd158b253ed",
        "name": "Simulate Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "e6a1fbafa5a9d894"
            ]
        ]
    },
    {
        "id": "5f88eb2715f67f2e",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "object containing_data_and_events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "3c9125f52dbd20b9",
        "type": "comment",
        "z": "2df1dfd158b253ed",
        "name": "sending notifications to2",
        "info": "",
        "x": 100,
        "y": 740,
        "wires": []
    },
    {
        "id": "4e4eab1d17ba667b",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "check_critical_temperature_trigger",
        "func": "msg.topic=\"node-red-notification\"\nvar inputObject = msg.payload;\n\nvar criticalTemperature = inputObject.criticaltemp;\nvar criticalHumidity = inputObject.criticalhumidity;\n\n// Define the interval time in milliseconds (e.g., 10 minutes = 600000 ms)\nvar intervalTime = 600000;\n\nif (criticalTemperature || criticalHumidity) {\n    // Get the current time\n    var currentTime = Date.now();\n\n    // Get the last sent time from the global context, defaulting to 0 if not set\n    var lastSentTime = context.global.get('lastSentTime') || 0;\n\n    // Check if the interval has passed since the last message was sent\n    if (currentTime - lastSentTime > intervalTime) {\n        // Update the last sent time in the global context\n        context.global.set('lastSentTime', currentTime);\n\n        // Set the message payload to indicate critical conditions\n        msg.payload = \"Critical temperature or humidity condition is met.\";\n        return msg;\n    } else {\n        // Interval has not passed, do not send a message\n        return null;\n    }\n} else {\n    // Critical conditions are not met, do not send a message\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 820,
        "wires": [
            [
                "213873f1f694ec7c",
                "40ab787b1fb4316f"
            ]
        ]
    },
    {
        "id": "213873f1f694ec7c",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "trigger_conditions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "be57ed18809f8271",
        "type": "e-mail",
        "z": "2df1dfd158b253ed",
        "server": "mail.gmx.net",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "node-redpi@gmx.de",
        "dname": "notification_temperature",
        "x": 890,
        "y": 900,
        "wires": []
    },
    {
        "id": "962ca721c5d4e4ed",
        "type": "comment",
        "z": "2df1dfd158b253ed",
        "name": "OPC_UA_SERVER",
        "info": "",
        "x": 90,
        "y": 960,
        "wires": []
    },
    {
        "id": "982085d1f24edf80",
        "type": "comment",
        "z": "2df1dfd158b253ed",
        "name": "LOGIC_ENGINE",
        "info": "",
        "x": 80,
        "y": 600,
        "wires": []
    },
    {
        "id": "dbaa9f0e24489285",
        "type": "comment",
        "z": "2df1dfd158b253ed",
        "name": "zigbee_interface",
        "info": "",
        "x": 80,
        "y": 80,
        "wires": []
    },
    {
        "id": "e858ed400a2da5cc",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "set temperature event as global var",
        "func": "msg.payload= msg.payload.criticaltemp;\nglobal.set(\"critical_temperature\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 560,
        "wires": [
            [
                "e2bb7f5d9a0715e0"
            ]
        ]
    },
    {
        "id": "e2bb7f5d9a0715e0",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "temp_event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "2bf7a4c1a64f3644",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "set humidity event as global var",
        "func": "msg.payload= msg.payload.criticalhumidity;\nglobal.set(\"critical_humidity\", msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "29f50b54201f70c3"
            ]
        ]
    },
    {
        "id": "29f50b54201f70c3",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "humd_event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "53c78b710282cbfb",
        "type": "comment",
        "z": "2df1dfd158b253ed",
        "name": "mqtt interface",
        "info": "",
        "x": 70,
        "y": 1200,
        "wires": []
    },
    {
        "id": "92e00a55170fe173",
        "type": "inject",
        "z": "2df1dfd158b253ed",
        "name": "Simulate Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1260,
        "wires": [
            [
                "e41b408c490a13dd"
            ]
        ]
    },
    {
        "id": "e41b408c490a13dd",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "Check Temperature and Humidity",
        "func": "// Define the acceptable range for temperature and humidity\nconst minTemperature = 10; // Minimum temperature\nconst maxTemperature = 20; // Maximum temperature\nconst criticatemp = 20; // critical temperature \nconst minHumidity = 30;    // Minimum humidity\nconst maxHumidity = 40;    // Maximum humidity\nconst critichumidity =80; // critical value for humidity\n// Get the incoming message payload\nvar temperature = global.get('temperature'); // Get temperature from global context\nvar humidity = global.get('humidity'); // Get humidity from global context\n// set global variables that can be used by opc_server\n\n\n// Initialize payload as a JSON object\nvar  data = {\n    timestamp: Date.now(),\n    temperature: temperature,\n    humidity: humidity,\n    criticalhumidity : false,\n    criticaltemp : false,\n    temperatureEvent: \"\",\n    humidityEvent: \"\",\n    turnAC: false // Initialize turn AC variable\n};\n\n\n// Check if temperature is within the acceptable range\nif (temperature < minTemperature) {\n    // Temperature is below the acceptable range\n    data.temperatureEvent = \"Below Min\";\n} else if (temperature > maxTemperature) {\n    // Temperature is above the acceptable range\n    data.temperatureEvent = \"Above Max\";\n    \n}\nelse if (temperature > criticatemp) {\n    // Humidity is above the acceptable range\n    data.criticaltemp= true;\n    }\nelse {\n        msg.payload.temperatureEvent = \"No action\"\n    }\n// Check if humidity is within the acceptable range\nif (humidity < minHumidity) {\n    // Humidity is below the acceptable range\n    data.humidityEvent = \"Below Min\";\n} else if (humidity > maxHumidity) {\n    // Humidity is above the acceptable range\n    data.humidityEvent = \"Above Max\";\n    }\n    \n\nelse {\n        data.humidityEvent = \"No action\"\n    }\n\n// Set turn AC variable based on conditions\nif (data.temperatureEvent === \"Above Max\" || data.humidityEvent === \"Above Max\" || data.criticaltemp==true) {\n    data.turnAC = true; // Turn on AC\n} else {\n    data.turnAC = false; // Turn off AC\n}\n\n\n\n// Return message\nreturn {payload: data};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "ad75dfa6a5ee9102"
            ]
        ]
    },
    {
        "id": "ad75dfa6a5ee9102",
        "type": "mqtt out",
        "z": "2df1dfd158b253ed",
        "name": "",
        "topic": "sensordata",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ff246c28cc0fa0af",
        "x": 610,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c09bba319746468b",
        "type": "comment",
        "z": "2df1dfd158b253ed",
        "name": "access control",
        "info": "",
        "x": 70,
        "y": 1360,
        "wires": []
    },
    {
        "id": "12212c1cf0a810d6",
        "type": "pythonshell in",
        "z": "2df1dfd158b253ed",
        "name": "acces_control",
        "pyfile": "/home/waelkh12/Desktop/tf_lite_face_reco/facial_recognition_for_access_control/test_model/use_tflite.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 500,
        "y": 1520,
        "wires": [
            [
                "c79076b1c216d02b",
                "5604778b506f58f6"
            ]
        ]
    },
    {
        "id": "9e4e088f5a843a62",
        "type": "mqtt in",
        "z": "2df1dfd158b253ed",
        "name": "",
        "topic": "command_access_control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ff246c28cc0fa0af",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1460,
        "wires": [
            [
                "f171cea0b358fd4a",
                "0e3967dcd9d12ed9"
            ]
        ]
    },
    {
        "id": "f171cea0b358fd4a",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c79076b1c216d02b",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0e3967dcd9d12ed9",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "function 1",
        "func": "if (msg.payload= true) {\nreturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "12212c1cf0a810d6"
            ]
        ]
    },
    {
        "id": "5604778b506f58f6",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "function 2",
        "func": "global.set(\"access\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1400,
        "wires": [
            [
                "5ba7cdd1a9ee0349",
                "640ece0026ef75ee"
            ]
        ]
    },
    {
        "id": "5ba7cdd1a9ee0349",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1440,
        "wires": []
    },
    {
        "id": "640ece0026ef75ee",
        "type": "mqtt out",
        "z": "2df1dfd158b253ed",
        "name": "",
        "topic": "command_access_control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ff246c28cc0fa0af",
        "x": 930,
        "y": 1400,
        "wires": []
    },
    {
        "id": "6ea4af49785bd2c9",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "set illuminance as global variable",
        "func": "global.set(\"lux\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "e4a68ecef4f0edcc"
            ]
        ]
    },
    {
        "id": "02a4f6366f7c317f",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "get_illuminance_from_mqtt",
        "func": "msg.payload= msg.payload.pressure;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "6ea4af49785bd2c9"
            ]
        ]
    },
    {
        "id": "463222ef6cdb8ddb",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "set light event as global var",
        "func": "var lighton= msg.payload.turnlighton;\nvar lightoff =msg.payload.turnlightoff;\nglobal.set(\"light_is_on\", lighton);\nglobal.set(\"light_is_off\", lightoff);\n\n\nreturn lighton,lightoff;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "a7540cfe08f71cea"
            ]
        ]
    },
    {
        "id": "a7540cfe08f71cea",
        "type": "debug",
        "z": "2df1dfd158b253ed",
        "name": "light_event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "fa77ab7e9cddaf5d",
        "type": "inject",
        "z": "2df1dfd158b253ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 860,
        "wires": [
            [
                "4e4eab1d17ba667b"
            ]
        ]
    },
    {
        "id": "40ab787b1fb4316f",
        "type": "trigger",
        "z": "2df1dfd158b253ed",
        "name": "email_trigger",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 920,
        "wires": [
            [
                "95a41fd1732aba03"
            ]
        ]
    },
    {
        "id": "95a41fd1732aba03",
        "type": "function",
        "z": "2df1dfd158b253ed",
        "name": "function 3",
        "func": "msg.topic=\"node-red-notification\";\nmsg.payload=\" critical values reached\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 920,
        "wires": [
            [
                "be57ed18809f8271"
            ]
        ]
    }
]